<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
    <link rel="stylesheet" href="/stylings/style.css">
    <link rel="icon" href="/stylings/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Oops!</h1>
        <p>It seems there was a problem in our end.</p>
        <p>Let's get you back on track.</p>
        <div class="button-container">
            <!-- The button uses the 'button' class for styling -->
            <a href="/" class="button">Return to Home</a>
        </div>
    </div>
</body>
</html>
