<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./stylings/style.css">
    <link rel="icon" href="/stylings/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <nav class="nav">
            <!-- Use the 'button' class to style the button consistently -->
            <a href="index.html" class="nav-button">
                <button class="button">Home</button>
            </a>
        </nav>
        
        <h2>About Us</h2>
        
        <p>Welcome to the Ascii Generator! This project was created to provide a simple and interactive way for users to generate ASCII art from any text they enter.</p>

        <h2>Project Overview</h2>
        <p>The Ascii Generator lets you input any text and select a banner style (such as Standard, Shadow, or Thinkertoy). Once you submit the form, the app processes the input text and generates the corresponding ASCII art in the selected style, which is then displayed on the page.</p>

        <h2>Technology Stack</h2>
        <ul>
            <li><strong>Backend:</strong> Go (Golang) - For the server-side logic and ASCII art generation.</li>
            <li><strong>Frontend:</strong> HTML, CSS - For the user interface.</li>
            <li><strong>Template Engine:</strong> Go's `html/template` package - Used for rendering HTML pages with dynamic content.</li>
            <li><strong>File Handling:</strong> Go's `os` and `strings` packages - Used to load and process ASCII banner files and manage input text.</li>
        </ul>

        <h2>Meet the Team</h2>
        <ul>
            <li><strong><a href="https://discordapp.com/users/780150798927134740" target="_blank">astas(Andriana)</a></strong> - Through this project, Andy was able to tap into creative potential. Realizing that coding isn't just about logic and structure—it’s also a canvas for creativity, allowing someone to express themselves in new and exciting ways</li>
            <li><strong><a href="https://discordapp.com/users/1277217326256881736" target="_blank">daslamac(Dilhan)</a></strong> - Dilhan had always sensed a creative spark within her, and this project gave her the chance to bring it to life. As she worked through the code, she saw how programming could be an art form in its own right, blending technical skill with creative flair.</li>
        </ul>

        <h2>Contact Us</h2>
        <p>If you have any questions or suggestions, feel free to reach out to us at Discord.</p>
        
    </div>
</body>
</html>
